<section id="about-us" class="section-about-us">
    <div class="container">
    <h2 class="section-title">Чому хатинка лапок</h2>

    <div class="swiper">
        <ul class="swiper-wrapper">
            <li class="swiper-slide">
                <img class="swiper-image" src="https://res.cloudinary.com/dprfmsunw/image/upload/f_auto/q_auto/about-us_fnenkd.png" alt="Про нас 1">
                <p class="swiper-text">
                    Все почалося у 2015 році з кількох небайдужих людей та одного врятованого собаки. Сьогодні ми — один з найбільших притулків у регіоні, але наша мета незмінна: дати другий шанс тим, кого зрадили.
                </p>
            </li>

            <li class="swiper-slide">
                <img class="swiper-image" src="https://res.cloudinary.com/dprfmsunw/image/upload/f_auto/q_auto/about-us2_oyezcy.png" alt="Про нас 2">
                <p class="swiper-text">
                    Ми рятуємо, реабілітуємо та знаходимо люблячі родини для безпритульних тварин. Наша мета — не просто дати прихисток, а й забезпечити кожному "хвостику" щасливе та повноцінне життя в новій родині.
                </p>
            </li>

            <li class="swiper-slide">
                <img class="swiper-image" src="https://res.cloudinary.com/dprfmsunw/image/upload/f_auto/q_auto/about-us3_iqwzbi.png" alt="Про нас 3">
                <p class="swiper-text">
                    "Хатинка Лапок" — це команда професійних ветеринарів, кінологів та десятків волонтерів, які щодня вкладають свою душу та час у турботу про наших підопічних. Ми працюємо 24/7, бо їхнє життя залежить від нас.
                </p>
            </li>

            <li class="swiper-slide">
                <img class="swiper-image" src="https://res.cloudinary.com/dprfmsunw/image/upload/f_auto/q_auto/about-us4_jjjj8h.png" alt="Про нас 4">
                <p class="swiper-text">
                    Ми створили безпечний та комфортний простір. Кожна тварина отримує якісне харчування, своєчасну ветеринарну допомогу, проходить соціалізацію та гуляє на спеціально обладнаних майданчиках.
                </p>
            </li>

            <li class="swiper-slide">
                <img class="swiper-image" src="https://res.cloudinary.com/dprfmsunw/image/upload/f_auto/q_auto/about-us5_toohw3.png" alt="Про нас 5">
                <p class="swiper-text">
                    Ваша допомога — безцінна. Ви можете взяти тваринку дoдому, стати волонтером, допомогти фінансово або інформаційно. Кожен маленький внесок наближає нас до великої мети — світу без безпритульних тварин.
                </p>
            </li>
        </ul>


        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>
    </div>
</section>