<header id="header" class="section-header">
  <div class="container">
    <nav class="header-nav">
      <a href="index.html">
        <img
          class="icon-logo"
          src="./img/logo.svg"
          width="158"
          height="52"
          alt="Logo"
        />
      </a>
      <ul class="header-nav-list">
        <li class="nav-item">
          <a class="header-nav-link" href="#find-friend">Знайди друга</a>
        </li>
        <li class="nav-item">
          <a class="header-nav-link" href="#">Про нас</a>
        </li>
        <li class="nav-item">
          <a class="header-nav-link" href="#faq">Часті запитання</a>
        </li>
        <li class="nav-item">
          <a class="header-nav-link" href="#">Історії успіху</a>
        </li>
      </ul>
      <button class="header-burger">
        <svg class="icon icon-menu" width="24" height="24">
          <use href="./img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <a href="#find-friend" class="header-btn">Взяти друга</a>
    </nav>
  </div>
</header>
