<section id="hero" class="hero-page">
<div class="container hero-container">
  <div class="hero-contant">
        <div class="hero-about">
            <h1 class="hero-title">Кожне життя має значення. Знайди свого вірного друга</h1>
            <p class="hero-description">
                Сотні котиків та собачок у притулку Хатинка Лапок чекають на свою родину. Подаруйте їм дім.
            </p>
        </div>
        <div class="hero-navigation">
                <a class="hero-navigation-link" href="#">Подивитись історії</a>
        </div>
  </div>
</div>
</section>