<div class="mobile-menu">
  <div class="container">
    <div class="mbl-menu-top">
      <a href="index.html">
        <img
          class="icon-logo"
          src="/img/logo.svg"
          width="158"
          height="52"
          alt="Logo"
        />
      </a>
      <button class="mbl-menu-close">
        <svg class="icon menu-icon-close" width="24" height="24">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <ul class="mbl-menu-list">
      <li class="mbl-menu-item">
        <a class="mbl-menu-link" href="#find-friend">Знайди друга</a>
      </li>
      <li class="mbl-menu-item">
        <a class="mbl-menu-link" href="#">Про нас</a>
      </li>
      <li class="mbl-menu-item">
        <a class="mbl-menu-link" href="#faq">Часті запитання</a>
      </li>
      <li class="mbl-menu-item">
        <a class="mbl-menu-link" href="#">Історії успіху</a>
      </li>
    </ul>
    <a href="#find-friend" class="mbl-menu-btn">Взяти друга</a>
  </div>
</div>
