

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header-nav {
  display: flex;
justify-content: space-between;
align-items: center;
}

.header-nav a {
  outline: none;
}

.icon-logo {
 display: flex;
  align-items: center;
  fill: #332C22;
  padding: 5px 0;
}

.header-nav-list {
  display: none;
}

.icon-menu {
  display: flex;
  align-items: center;
  justify-content: center;
padding: 0;
fill: #02060a;
}

.header-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
}

.header-btn {
  display: none;
}


@media screen and (min-width: 768px) {


} 


@media screen and (min-width: 1440px) {

  
.header-nav {
    display: flex;
    align-items: center;
  }

  .icon-logo {
    margin-right: 24px;
  }

   

  .header-nav-list {
    display: flex;
    margin-right: auto;
    gap: 32px;
  }

    .header-nav-link {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #02060a;
    transition: border-bottom 0.3s ease, color 0.3s ease;
  }

    .header-nav-link:hover,
     .header-nav-link:focus {
      border-bottom: 1px solid #443b2e;
      color: #443b2e;
      outline: none;
    }

    .header-nav-link:active {
      border-bottom: 1px solid #88765C;
      color: #88765C;
      outline: none;
    }

  .header-btn {
  display: flex;
    align-items: center;
    justify-content: center;
  border: 1px solid #88765C;
    border-radius: 8px;
    width: 130px;
    height: 40px;
      background: #88765C;
   color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
      transition: background 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  }

    .header-btn:hover,
     .header-btn:focus {
      border: 1px solid #02060a;
      color: #02060a;
      outline: none;
        background: #eee9e3;
    }

      .header-btn:active {
        background: #eee9e3;
        border: 1px solid #02060a;
        color: #02060a;
        box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
      }

  .header-burger {
    display: none;
  }
}






