.success-stories-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #02060a;
  margin-bottom: 24px;
  margin-top: 80px;
}
.success-stories-subtitle {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #02060a;
  margin-bottom: 40px;
}
.feedback-author {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'IBM Plex Sans', sans-serif;
}
.feedback-comment {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-bottom: 32px;
}
.feedback-item {
  display: none;
}
.feedback-list :first-child {
  display: block;
}

@media only screen and (min-width: 768px) {
  .feedback-list :first-child,
  :nth-child(2) {
    display: block;
  }
  .feedback-list {
    display: flex;
    flex-direction: row;
    column-gap: 32px;
    justify-content: center;
    align-content: center;
  }
  .feedback-comment {
    width: 336px;
  }
  .feedback-author {
    width: 118px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1400px) {
  .feedback-comment {
    width: 640px;
  }
  .feedback-author {
    width: 134px;
  }
}
